.error-modal {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 500px;
  min-height: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(252, 0, 0, 0.2);
  z-index: 9999;
}

.error-modal__close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ff0000;
  font-weight: bold;
}

.error-modal__content {
  color: #ff0000;
}

.error-modal__header {
  font-size: 24px;
}

.error-modal__text {
  font-size: 16px;
}
