.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 360px;
  min-height: 240px;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal:focus {
  outline: 0;
}

.modal_type_confirm {
  min-height: 120px;
}

.modal__header {
  margin-top: 0;
}

.modal__close-button {
  position: absolute;
  cursor: pointer;
  top: -15px;
  right: -36px;
  width: 28px;
  height: 28px;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 0;
  background-image: url(../images/close-icon.svg);
  transition: opacity .3s ease-in-out;
}

.modal__close-button:hover {
  opacity: .6;
}

.modal__close-button:focus {
  outline: 0;
}

.modal__input {
  width: 100%;
  padding: 5px 0 5px 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: .7;
  text-align: center;
  align-items: center;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, .2);
  background: transparent;
}

.modal__input:focus {
  border: none;
  outline: 2px solid rgba(0, 0, 0, .2);
}

.modal__input:disabled {
  background-color: rgba(221, 219, 219, 0.3);;
}

.modal__checkbox {
  display: none;
}

.modal__label {
  display: block;
  font-weight: 600;
}

.modal__label_type_name {
  padding: 0;
  margin-bottom: 10px;
}

.modal__label_type_option {
  margin-bottom: 20px;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  transition: all .3s ease-in-out;
}

.modal__label_type_option::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin: 0;
  padding: 0;
  transform: translateY(-50%);
  width: 100%;
  min-height: 35px;
  box-shadow: 0 0 0 2px #bdbdbd;
  background-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

.modal__edit-button {
  cursor: pointer;
  height: 28px;
  width: 28px;
  position: absolute;
  right: 20px;
  top: 96px;
  background-image: url('../images/edit-button.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
  background-color: transparent;
  border: none;
  transition: opacity .3s ease-in-out;
}

.modal__edit-button:hover {
  opacity: .7;
}

.modal__edit-button:focus {
  border: 0;
  outline: 0;
}

.modal__checkbox:checked + .modal__label_type_option::before {
  background-color: rgba(80, 79, 79, .3);
}

.modal__checkbox:checked + .modal__label_type_option {
  color: black;
}

.modal__mounting-cups-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.modal__checkbox + .modal__label_type_option {
  margin-top: 10px;
}

.modal__button {
  cursor: pointer;
  padding: 0;
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 40px;
  background-color: #504f4f;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  transition: opacity .3s ease-in-out;
}

.modal__button:hover {
  opacity: .85;
}

.modal__button:disabled {
  background: transparent;
  color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .2);
}
