.page {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #D3D3D3;
  color: #504f4f;
  position: relative;
  min-width: 320px;
}

.root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
}

.header__logo {
  width: 150px;
}

.main {
  margin-top: 30px;
  min-height: 500px;
}

.calculator {
 display: flex;
}

.calculator__title {
  margin: 0;
}

.footer {
  display: flex;
}

.footer__copyright {
  margin: 0;
}
